.category-tree {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.category-tree > li {
  margin: 6px 0;
  padding: 4px 0;
}

.category-tree .category-tree {
  padding-left: 16px;
  border-left: 1px dashed #ccc;
}